<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Estoque de roupa</title>
</head>
<body>
    <!-- TABELA PARA EXIBIÇÃO DOS DADOS -->
    <table class="table">
        <thead>
            <tr>
                <th>Nome da Roupa</th>
                <th>Tamanho</th>
                <th>Preço</th>
                <th>Nome do Fornecedor</th>
                <th>Endereço do Fornecedor</th>
                <th>Telefone do Fornecedor</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in listar_dados %}
            <tr>
                <td>{{ dado[0] }}</td>
                <td>{{ dado[1] }}</td>
                <td>{{ dado[2] }}</td>
                <td>{{ dado[3] }}</td>
                <td>{{ dado[4] }}</td>
                <td>{{ dado[5] }}</td>
            </tr>
            {% endfor %}    
               
        </tbody>
    </table>

    <a href="/"><button class="button">Voltar</button></a>
</body>
</html>