<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de roupa</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<html>
<head>
    <title>Estoque de Roupas</title>
</head>
<body>
    <h1>Cadastro de Roupas e fornecedores</h1>
    <form action="/" method="POST">
        <label for="roupa_nome">Nome da Roupa:</label>
        <input type="text" id="roupa_nome" name="roupa_nome" required><br><br>

        <label for="roupa_tamanho">Tamanho:</label>
        <input type="text" id="roupa_tamanho" name="roupa_tamanho" required><br><br>

        <label for="roupa_preco">Preço:</label>
        <input type="decimal" id="roupa_preco" name="roupa_preco" required><br><br>

        <label for="fornecedor_nome">Nome do Fornecedor:</label>
        <input type="text" id="fornecedor_nome" name="fornecedor_nome" required><br><br>

        <label for="fornecedor_endereco">Endereço do Fornecedor:</label>
        <input type="text" id="fornecedor_endereco" name="fornecedor_endereco" required><br><br>

        <label for="fornecedor_fone">Telefone do Fornecedor:</label>
        <input type="text" id="fornecedor_fone" name="fornecedor_fone" required><br><br>

        <input class="button" type="submit" value="Cadastrar">
        <button class="button">
            <a href="/consulta">Consultar
            </button>
    </form>
</body>
</html>

</html> 